<!--<div class="row mt-4">-->
<!--    <div class="col-lg-4 ">-->
<!--        <div class="card  ">-->
<!--            <div class="card-header ">-->
<!--                <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">-->
<!--                    <div class="chart">-->
<!--                        <canvas id="chart-line" class="chart-canvas" height="170"></canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h6 class="mb-0 "> Daily Sales </h6>-->
<!--                <p class="text-sm "> (<span class="font-weight-bolder">+15%</span>) increase in today sales. </p>-->
<!--                <hr class="dark horizontal">-->
<!--                <div class="d-flex ">-->
<!--                    <i class="material-icons text-sm my-auto me-1">schedule</i>-->
<!--                    <p class="mb-0 text-sm"> updated 4 min ago </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Список завданьre</h4>
  </div>

  <div class="card-body table-responsive col-12">
    <table class="table table-hover">

      <thead class="text-warning">
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Priority</th>
      <th>Date</th>
      <th>Status</th>
      </thead>

      <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{i + 1}}</td>
        <td>{{task.title}}</td>
        <td>{{task.category ? task.category.title : 'без категорії'}}</td>
        <td>{{task.priority ? task.priority.title : 'без пріорітету'}}</td>
        <td>{{task.date ? (task.date | date : 'short') : 'без дати'}}</td>
        <td>

          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" [checked]="task.completed">
              <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
            </label>
          </div>

        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
